.comics-modal-wrapper {
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5); 
}

.comics-modal {
    padding:15px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 500px;
    position: absolute;  
    left: 5%;  
    right: 5%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 15px;  
    background: white; 

    &__btn-close-box {
        font-size: 15px;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        color:grey;
        position: fixed;
        right: 60px;
    }

    &__btn-close {
        background: none;
        border: 0;
        color: grey;
    }

    &__title {
        font-size: 25px;
        font-weight: bold;
        color: grey;
        margin-bottom: 15px;
    }

    &__comic {
        margin-bottom: 10px;
    }
}