.header {
    align-items: center;
    display: flex;
    height: 10vh;
    padding: 15px 45px 15px 10px;
    margin-bottom: 30px;

    &__logo-box {
        display: flex;
    }

    &__logo {
        height: 20px;
        margin-right: 10px;
    }

    &__search-bar {
        display: flex;
        align-items: center;
        width: 100%;
    }



    &__input {
        height: 15px;
        border: 0;
        margin-right: 20px;
        font-size: 10px;
        padding-left: 10px;
        width: 100%;
        border-left: 1px solid grey;
    }

    &__favorite-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 10px;
        width: 20px;
        height: 20px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }
}

.far.fa-star.header {
    position: absolute;
    top: 0;
    color: grey;
    width: 20px;
    height: 20px;
    font-size: 25px;
    right: 2px;
}

.fas.fa-search {
    color: grey;
    margin-right: 10px;
}


@media ( min-width: 480px ) {
    .header {
        padding: 30px 60px 30px 10px;

        &__logo {
            height: 40px;
            margin-right: 10px;
        }

        &__input {
            height: 25px;
            font-size: 20px;
        }
    }

    .fa.fa-search {
        font-size: 20px;
    }
    .far.fa-star {
        font-size: 20px;
    }

}